div {
    border: 1px solid black;
}
div.container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    height: 200px;
    justify-content: space-evenly;
}
div.container > div {
    display: flex;
    align-items: center
}